body {
	/*background-image: url(/Users/gogo.mac/Desktop/ucla-bootcamp/Basic-Portfolio/assets/images/dust_scratches.png);
	background-repeat: repeat-y;*/
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #EEE
	padding-left: 100px;
	margin-left: 100px;
	border-style: solid;

}

h1, h3 {
	font-family: 'Georgia', Tiems, Times New Roman, serif;
}

nav {
	display: inline-block;
}

.left {
	display: inline-block;
	float: left;
	width: 650px;
	border-style: solid;
}

.right {
	display: inline-block;
	float: right;
	width: 270px;
	border-style:solid;
}

.icon {
	height: 50px;
	width: 50px;
}

#title {
	background-color: #4aaaa5;
	color: white;
}

#title2 {
	color: #4aaaa5;
}